services:
  db:
    image: postgres
    environment:
      POSTGRES_DB: wordgame
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: simple
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d wordgame"]
      interval: 5s
      timeout: 5s
      retries: 10

  web:
    build: .
    ports:
      - "5050:5050"
    volumes:
      - .:/app
    environment:
      - FLASK_ENV=development
      - DATABASE_URL=postgresql://admin:simple@db:5432/wordgame
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data:
